@{
    ViewData["Title"] = "Data of files";
}
<h4>@ViewData["Title"]</h4>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Payroll number</th>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Date of birth</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Address 1</th>
                <th scope="col">Address 2</th>
                <th scope="col">Postal code</th>
                <th scope="col">Email</th>
                <th scope="col">Started date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>3</td>
                <td>Larry the Bird</td>
                <td>twitter</td>
                <td>twitter</td>
                <td>twitter</td>
                <td>twitter</td>
                <td>twitter</td>
                <td>twitter</td>
                <td>twitter</td>
                <td>twitter</td>
                <td>twitter</td>
            </tr>
        </tbody>
    </table>
</div>