@{
    ViewData["Title"] = "Home Page";
}

<div class="formOfFileHandle">
    <form class="form-control" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        <div class="mb-3">
            <label for="formFile" class="form-label">Select file</label>
            <input class="form-control" name="postedFile" type="file" id="formFile">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
