@model Exception
@{
    ViewData["Title"] = "Error";
}

<div style="max-width: 500px; margin: 0 auto;">
    <h1 class="text-danger">An error has occurred</h1>
    <p>
        Sorry, an error occurred while processing your request.
    </p>
</div>